<%= simple_form_for(@contact) do |f| %>
	<%= f.input :name, :label => 'Nome' %>
	<%= f.input :company, :label => 'Empresa'   %>
	<%= f.input :address, :label => 'Endereço' %>
	<%= f.input :info, :label => 'Informações Adicionais' %>
	<div class="fields-list">
		<%= f.simple_fields_for :phones do |builder| %>
			<%= render 'phone_fields', :f => builder %>
		<% end %>
		<%= link_to_add_fields "Adicionar Telefone", f, :phones %> 
	</div>	
	<%= f.submit 'Gravar'%>
<% end %>
